@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Poppins", sans-serif;
  background: #f0f8ff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Form Wrapper */
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(10rem, 90%, 60rem);
  background: #fff;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.input-wrapper {
  width: 100%;
  max-width: 47rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.input-wrapper label {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: #333;
}

input[type="number"],
input[type="range"] {
  width: 100%;
  max-width: 20rem;
  padding: 0.75rem;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  background: #8a2be2;
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: #c3bcc9;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background: #72852e;
  border-radius: 50%;
  cursor: pointer;
}

.discount-value,
.tip-value,
.no-of-customers-value {
  font-weight: bold;
  font-size: 1.4rem;
  color: #007bff;
  margin-top: 0.5rem;
}

button.generate-bill {
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  font-size: 1.6rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 1rem;
}

button.generate-bill:hover {
  background-color: #0056b3;
}

/* Result Wrapper */
.result-wrapper {
  width: 100%;
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e5e6df;
  padding: 1.5rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.result-wrapper label {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

.result-wrapper span {
  font-size: 1.4rem;
  font-weight: bold;
  color: #007bff;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .form-wrapper {
    padding: 2rem 1.5rem;
  }

  label {
    font-size: 1.2rem;
  }

  input[type="number"],
  input[type="range"] {
    font-size: 1.2rem;
  }

  button.generate-bill {
    font-size: 1.4rem;
  }

  .result-wrapper {
    padding: 1rem;
  }

  .result-wrapper label,
  .result-wrapper span {
    font-size: 1.2rem;
  }
}